[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
natsort = "*"
tqdm = "*"
beautifulsoup4 = "*"
pyperclip = "*"
yt-dlp = "*"
seedrcc = "*"
argcomplete = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.*"
